
#mainHeader {
  background-color: rgb(127, 172, 240);
  color: white;
}
#first {
  color: rgb(248, 2, 2);
}
#enter {
  border-radius: 10%;
  background-color: darkblue;
  color: white;

}

.done {
  text-decoration: line-through;
}